

.main-table {
	border: 5px solid red;
	background-color: yellow;
	overflow: hidden;
	z-index: 1;
}

table.main-table {
	border-collapse: collapse;
	margin: auto;
	table-layout: fixed;
	max-width: 75%;
}

tr.main-table {
	max-width: 75%;
}

td.main-table {
	width: 37.5%;
	position: relative;
	vertical-align: top;
}

p, h2 {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.video {
	display: block;
	border: none;
	position: absolute;
	bottom: 0;
	aspect-ratio: 16 / 9;
}

body {
	background-color: navy;
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
}

div.navbar-outer {
	background-color: gray;
	position: fixed;
	top: 0;
	margin-left: 0%;
	margin-top: 0%;
	z-index: 10;
	width: 100%;
	min-height: 50px;
}

div.navbar-inner {
	width: 90%;
	margin: 10px;
}

button.navbar-inner {
	margin: 0px;
	background-color: red;
	border: none;
	width: auto;
	min-width: 100px;
	height: 25px;
	position: relative;
	bottom: 0px;
}

button.navbar-inner:active {
	background-color: yellow;
}

.marginless {
	margin-bottom: 0;
	padding-bottom: 0;
	display: inline;
}

.top-title {
	text-align: center;
	color: lime;
	font-size: 100px;
	margin-top: 100px;
}






